@font-face {
  font-family: Geist;
  src: url('~/assets/fonts/Geist/Geist-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Geist;
  src: url('~/assets/fonts/Geist/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
