/* scaffolding */

@use '~/assets/scss/general/variables' as *;
@use '~/assets/scss/abstracts/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: Geist, Arial, sans-serif;
  font-weight: 300;
  color: var(--color-black);
  background: var(--color-white) url('~/assets/images/bg.svg');
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip-path: rect(0 0 0 0);
  white-space: nowrap;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  outline: none;
  pointer-events: none;
}

.layout-ws {
  width: 100%;
  padding: clamp(16px, 5%, 100px);
}

.mask {
  overflow: hidden;
}

.button {
  border-radius: 3rem;
  display: inline-block;
  padding: 1rem;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black);
  background: var(--color-white);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black);
}

.collection {
  display: flex;
  align-items: center;
  font-weight: 700;

  & > * + * {
    margin-left: 0.5rem;
  }

  @media screen and (min-width: $md) {
    color: var(--color-white);
  }
}

.hero {
  height: 100vh;
}

.hero-wrapper {
  @media screen and (min-width: $md) {
    display: flex;
  }
}

.hero-left {
  display: flex;
  align-items: flex-end;
  height: 90vh;

  @media screen and (min-width: $md) {
    flex: 1;
  }
}

.hero-right {
  display: none;

  @media screen and (min-width: $md) {
    position: relative;
    display: flex;
    flex: 0.65;
    height: 100vh;
  }
}

.hero-title {
  font-size: clamp(3rem, 7vw, 11rem);
  font-weight: 300;
}

.hero-media {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-media .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: blue;
}

.hero-media .video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  height: 100vh;
}

.details-wrapper {
  & > * + * {
    margin-top: 4rem;
  }

  @media screen and (min-width: $md) {
    display: flex;
    align-items: center;

    & > * + * {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
}

.details-inspection {
  margin-top: 10rem;

  @media screen and (min-width: $md) {
    max-width: 1200px;
    margin: 15rem auto 0;
  }
}

.details-title {
  font-size: clamp(5rem, 6vw, 8rem);
  text-align: center;

  @media screen and (min-width: $md) {
    flex: 0.3;
  }
}

.details-box {
  border-radius: 0.3rem;
  padding: 3rem 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-white);
  text-align: center;
  background: var(--color-black);

  @media screen and (min-width: $md) {
    flex: 1;
  }
}

.details-description {
  text-align: center;

  @media screen and (min-width: $md) {
    flex: 1;
    text-align: left;
  }
}

.marquee {
  font-size: clamp(7rem, 17vw, 23rem);
  font-weight: 700;
  color: #f5f5f5;
  overflow: hidden;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.slider {
  @media screen and (min-width: $md) {
    position: relative;
    width: 300%;
    display: flex;
  }
}

.slider-progress {
  display: none;

  @media screen and (min-width: $md) {
    position: absolute;
    top: 80%;
    left: 0;
    z-index: 10;
    display: flex;
    width: 0;
    height: 1px;
    background: var(--color-white);
  }
}

.slide {
  display: flex;
  width: 100%;
  height: 100vh;
  font-size: clamp(1.2rem, 2vw, 2.5rem);
  color: var(--color-white);
  background: var(--color-black);
}

.slide-wrapper {
  @media screen and (min-width: $md) {
    width: 50%;
  }
}

.contact {
  display: flex;
  align-items: center;
  height: 100vh;
  color: var(--color-white);
  background: #0f0f0d;
}

.contact-wrapper {
  position: relative;
}

.line {
  width: 0;
  height: 1px;
  background: #393939;
}

.line-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.line-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.contact-title {
  font-size: clamp(2rem, 4vw, 5rem);
}

.contact-description {
  font-size: 1.1rem;

  @media screen and (min-width: $md) {
    width: 40%;
  }
}

.contact-cta {
  margin: 1.2rem 0 2rem;
}
